body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    display: grid;
 grid-template-areas:"men con";

grid-template-columns: 1fr 5fr ;
gap: 0 20px;
}
.container{
display: block;
grid-area: con;
}
.menu{
display: block;
grid-area: men;
border: 2px solid rgb(0, 0, 0);
border-radius: 12px;
padding: 5%;
margin-top: 5%;
text-align: left;
}
a{
    text-decoration: none;

}
.menu ul{
    list-style: none;
    margin: 0%;
    padding: 1%;
}
.top{
   position: relative;
   margin-left: 70%;
}
.spec{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 2%;
}
.spec a{
    
    margin: 10%;
    text-decoration: none;
}
.result{
    border-bottom: 2px solid rgb(0, 0, 0) ;

}